body {
  margin: 0 !important;
  width: 100vw;
  text-align: center;
  overflow-x: hidden; }

section {
  margin-top: 15px;
  height: 400px;
  width: 100vw; }

#selfie {
  margin: auto;
  height: 250px;
  width: 240px; }
  #selfie img {
    height: 100%;
    width: 100%; }

#homepage-menu {
  display: grid;
  height: 650px;
  grid-template-columns: repeat(2, 1fr);
  padding-right: 15px; }
  #homepage-menu a {
    text-decoration: none; }

.menu-grid-item {
  margin: 10px;
  background: #4B4B4B;
  position: relative;
  z-index: 1;
  height: 120px; }
  .menu-grid-item h3 {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 18px;
    position: relative;
    z-index: 0;
    font-family: 'Handlee', cursive !important;
    position: relative;
    font-size: 22px;
    top: 30px;
    z-index: 1; }

.fa {
  color: white !important;
  position: relative;
  top: 30px; }

.fader {
  transition: all 0.5s ease;
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0); }
  .fader:hover {
    background: rgba(0, 0, 0, 0.4); }

.bg-image {
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .9;
  width: 100%;
  height: 100%; }

.about {
  background-image: url("images/about.jpeg");
  background-repeat: none;
  background-size: 100% 100%; }

.blog {
  background-image: url("images/blog.jpg");
  background-repeat: none;
  background-size: 100% 100%; }

.projects {
  background-image: url("images/projects.jpeg");
  background-repeat: none;
  background-size: 100% 100%; }

.contact {
  background-image: url("images/contact.jpeg");
  background-repeat: none;
  background-size: 100% 100%; }

#name {
  background: #4B4B4B;
  color: white; }
  #name h1 {
    font-family: 'Handlee', cursive; }
  #name h3 {
    font-family: 'Timmana', sans-serif; }

.navbar-brand {
  position: relative;
  left: 20px;
  font-family: 'Handlee', cursive; }

#footer-list {
  height: 70px;
  max-width: 300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.footer-list-item {
  width: 90%;
  height: 30px;
  margin: 0 auto;
  position: relative;
  top: 20px; }

#footer-list a {
  color: black !important; }

#secondary-header {
  width: 100vw;
  height: 300px;
  background: blue; }

/* Homepage Media Queries */
@media (min-width: 400px) {
  #name h1 {
    font-size: 30px;
    position: relative;
    top: 30px; }
  #name h3 {
    position: relative;
    top: 20px; }

  #homepage-header {
    height: 140px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(2, 1fr);
    max-width: 80vw;
    margin: 0 auto; }
    #homepage-header #selfie {
      height: 140px;
      width: 140px;
      position: relative; }
    #homepage-header img {
      height: 100%; }
    #homepage-header #name {
      height: 100%; }

  #homepage-menu {
    height: 1300px;
    max-width: 80vw;
    margin: 0 auto; }

  .menu-grid-item {
    height: 250px; }
    .menu-grid-item h3 {
      position: relative;
      top: 90px;
      font-size: 40px;
      text-shadow: 2px 0 black; }
    .menu-grid-item .fa {
      position: relative;
      top: 100px; } }
/*About Page Mobile First*/
#secondary-header {
  background: orange;
  height: 120px;
  position: relative;
  bottom: 20px; }

#about-info {
  background: red;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  width: 80%;
  height: 600px;
  margin: 0 auto; }

#interactive-panel {
  background: yellow;
  display: grid; }
  #interactive-panel .photo {
    background: pink;
    grid-column-start: 1;
    grid-column-end: 5; }
  #interactive-panel .button {
    background: cyan;
    grid-row-start: 7; }

/*About Media Queries*/
@media (min-width: 400px) {
  #about-info {
    background: lime;
    height: 400px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr; }

  #interactive-panel {
    background: cyan;
    display: grid;
    grid-template-columns: 3fr 1fr; }
    #interactive-panel .photo {
      background: pink;
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row-end: 5; }
    #interactive-panel .button {
      background: yellow; }
    #interactive-panel .button2 {
      grid-column-start: 2; }
    #interactive-panel .button3 {
      grid-column-start: 2; }
    #interactive-panel .button4 {
      grid-column-start: 2; } }

/*# sourceMappingURL=style.css.map */
